class Rectangle:
    def __init__(self, height, width):
        self.height = height
        self.width = width
        
    def displayInfo(self):
        print ("height of Rectangle is: ", self.height)
        print ("width of Rectangle is: ", self.width)
        
    def calculateArea(self):
        return (self.height*self.width)
    
    def calculatePerimeter(self):
        return (2*self.height + 2*self.width)
    
h = int (input("Enter the height of the Rectangle: "))
w = int (input("Enter the width of rectangle: "))

r1 = Rectangle(h, w)
print ("Rectangle object details are:")
r1.displayInfo()
print("")
print ("Area of Rectangle is: ", r1.calculateArea())
print("")
print ("The Perimeter of the Rectangle is: ", r1.calculatePerimeter())


